#sidebar {
  border: solid 4px rgb(241, 245, 23);
  padding: 1em;
  background-color: rgba(33, 224, 199);
}

h1 {
  text-align: center;
}
body {
  background-color: ;
}
#float {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
}

.question-title {
  text-decoration: underline;
}

#hidden {
  display: none;
}

#initText {
  text-align: center;
}