body {
  background-color: rgb(218, 165, 32);
}

#survey {
  border: solid 4px rgb(201, 94, 174);
  padding: 1em;
  background-color: rgba(33, 224, 199);
}

.jumbotron {
  border: solid 4px rgb(201, 94, 174);
  background-color: rgb(212, 241, 241);
  height: 50%;
}
#titleImg {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
}

.question-title {
  text-decoration: underline;
}

#hidden {
  background-color: rgba(81, 184, 216, 0.89);
  border: solid 4px rgb(223, 162, 70);
  width: 100%;
  display: none;
  padding:1em;
}

#hiddenImg {
  display: block;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;

}

#initText {
  text-align: center;
}

.container {
  margin-bottom: 2em;
}



#reset {
  float: right;
}
